html.dark {
  color-scheme: dark;
}

.dark .VPContent {
  background-color: rgb(10, 10, 11);
  background-image: url("/grid.svg");
}

.vp-doc h2 {
  border-top: 0px;
  margin-top: 10px;
}

.VPMenuLink .link {
  line-height: 28px !important;
}

.VPSidebarGroup .link {
  padding: 3px 0 !important;
}

.VPTeamPageTitle .title {
  line-height: 32px;
  font-size: 24px;
  opacity: 0.5;
}

.VPTeamPageTitle .lead {
  font-size: 14px;
  opacity: 0.4;
}

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}
